.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }

  .example-card {
  max-width: 400px;
}

mat-card:hover {
    background:rgba(0,0,0,.04);
  }
  
  .mat-card .last-child {
    margin-bottom: 0;
  }